{% extends "base.html" %} {% block content %}
<div class="login-bg"></div>
<div class="login">
  <div class="login-text">
    <h2>Pet System</h2>
    <p>Find your next best friend.</p>
  </div>
  <div class="login-right">
    <div class="login-section">
      <h3 class="mb-3 text-center">Get Started Now</h3>
      <p class="please-message">Please Log into your account to continue</p>
      <form method="POST">
        <input
          name="username"
          class="form-control mb-2"
          placeholder="Username"
          required
        />
        <br />
        <input
          type="password"
          name="password"
          class="form-control mb-3"
          placeholder="Password"
          required
        />
        <br />
        <button class="login-button">Login</button>
      </form>
    </div>
    <p class="login-help">
      Test accounts (from DB): <br />
      admin_user / hashed_admin_pw <br />
      staff_member / hashed_staff_pw <br />Maxwell / password123
    </p>
  </div>
</div>
<script>
  gsap.from(".login", {
    opacity: 0,
    y: 15,
    duration: 1.2,
    ease: "power4.out",
  });
</script>

{% endblock %}
