{% extends "base.html" %} {% block content %}
<div class="page-head">
  <h2>Pet Management</h2>
  <p>Add new animals, and view pet details.</p>
</div>

{% if role in ['Admin', 'Staff'] %}
<div class="pet-mng-cont">
  <p>Add new pet.</p>
  <form action="{{ url_for('add_pet') }}" method="POST" class="row g-2 mb-4">
    <!-- Name Input-->
    <div class="col-md-3">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Name"
        required
      />
    </div>
    <!-- Price Input-->
    <div class="col-md-2">
      <input
        type="number"
        step="0.01"
        name="price"
        class="form-control"
        placeholder="Price"
        min="0"
        required
      />
    </div>

    <!-- Species Input-->
    <div class="col-md-3">
      <select name="species" class="form-control" required>
        <option value="">Select Species</option>
        {% for sp in species %}
        <option value="{{ sp[0] }}">{{ sp[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Rarity Input-->
    <div class="col-md-3">
      <select name="rarity" class="form-control" required>
        <option value="">Select Rarity</option>
        {% for r in rarities %}
        <option value="{{ r[0] }}">{{ r[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Maintenance Input-->
    <div class="col-md-3">
      <select name="maintenance" class="form-control" required>
        <option value="">Select Maintenance</option>
        {% for m in maintenance %}
        <option value="{{ m[0] }}">{{ m[1] }}</option>
        {% endfor %}
      </select>
    </div>

    <!--Add Button-->
    <div class="col-md-1">
      <button class="add-btn">Add</button>
    </div>
  </form>
</div>
{% endif %}

<div class="pet-card-cont">
  {% for p in pets %}
  <div class="pet-card">
    <div class="ava-cont">
      <img
        src="{{ url_for('static', filename='../static/pet-imgs/' + p[0]|string + '.png') }}"
        alt="Pet {{ p[1] }}"
        alt="Holder"
        class="bg-ava"
      />
    </div>
    <p class="pet-name">{{p[1]}}</p>
    <p class="pet-maint">{{p[4]}}</p>
    <p class="pet-maint">{{p[2]}}</p>
    <div>
      <p>{{p[5]}}</p>
      <p class="pet-price">${{p[6]}}</p>
    </div>
    <form action="{{ url_for('delete_pet', pet_id=p[0]) }}" method="post">
      <button class="pet-delete">Delete</button>
    </form>

    <p class="rarity">{{p[3]}}</p>
    <p class="pet-id">ID: {{p[0]}}</p>
  </div>
  {% endfor %}
</div>
<script>
  gsap.from([".pet-card"], {
    y: 25,
    opacity: 0,
    stagger: 0.06,
    duration: 1,
    ease: "power3.out",
  });
</script>
{% endblock %}
