{% extends "base.html" %} {% block content %}
<div class="page-head">
  <h2>User Management</h2>
  <p>Edit profiles, roles, and access rights for all account holders</p>
</div>

<h4 class="mt-4">Create Staff/Admin</h4>
<div class="pet-mng-cont">
  <form action="{{ url_for('register_staff') }}" method="post" class="row g-2">
    <div class="col-md-3">
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Username"
        required
      />
    </div>
    <div class="col-md-3">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />
    </div>
    <div class="col-md-3">
      <select name="role" class="form-select">
        <option value="Staff">Staff</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
    <div class="col-md-3">
      <button class="add-btn">Create</button>
    </div>
  </form>
</div>

<div class="user-cont">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr class="users-listing">
        <td>{{ u[0] }}</td>
        <td>{{ u[1] }}</td>
        <td>{{ u[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  gsap.from(".users-listing", {
    opacity: 0,
    y: 8,
    duration: 1,
    ease: "power4.out",
    stagger: 0.05,
  });
</script>

{% endblock %}
